.infoSV{
    text-align: left !important;
    padding: 10px 0;
}
input{
    width: 100%;
    height: 6vh;
}
.alignTitle{
    text-align: left;
}
.btn-success{
    margin-right: 1100px;
}
.textError{
    text-align: left !important;
    margin-top: 10px;
    margin-bottom: 0;
}